.avengers {
    height: 600px;
    width: 290px;
    border-radius: 5px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 45px;
   
}

.avengers_title {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-Regular.ttf);
    font-size: large;
    text-align: left;
    font-style: normal;
    grid-column: span 2;
    justify-self: left;
}

.avengers_subtitle {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-Thin.ttf);
    text-align: right;
    font-style: normal;
    grid-column: span 2;
    justify-content: flex-end;
    justify-self: right;
}

.avengers_subtitles {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-Thin.ttf)
    font-size smaller;
    text-align: left;
    font-style: normal;
    grid-column: span 2;
   
}

.text {
    text-align-last: left;
    font-size: smaller;
    flex: 1;
    align-self: flex-end;
    grid-column: span 2;
    
}