.avengers {
    height: 600px;
    width: 290px;
    border-radius: 5px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 45px;
   
}

.percent{
    
   align-content: center;
    
}

.avengers_title {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-Regular.ttf);
    font-size: large;
    text-align: left;
    font-style: normal;
    grid-column: span 2;
    justify-self: left;
}

.avengers_subtitle {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-Thin.ttf);
    text-align: left;
    font-style: normal;
    grid-column: span 1;
    justify-content: flex-end;
    justify-self: right;
    padding: 5px;
}


.image {
    padding: 85px;
    grid-column: span 1;
}


.avengers_subtitles {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-Thin.ttf)
    font-size smaller;
    text-align: left;
    font-style: normal;
    grid-column: span 2;
    line-height: 5px;
   
}

.text {
    text-align-last: left;
    font-size: smaller;
    flex: 1;
    align-self: flex-end;
    grid-column: span 2;
    
}

.logo{
    align-self: top;
    grid-template-rows: span 1;
    grid-column: span 3;
}

a:link, a:visited {
    background-color: lightskyblue;
    border-style: groove;
    color:  midnightblue;
    border-radius: 10px;
    height: 21px;
    width: 191px;
    text-align: center;
    text-align-last: center;
    text-decoration: none;
    display: inline-block;
    grid-column: span 2;
  }

  a:hover, a:active {
    background-color: lightcyan;
    color: midnightblue;
  }