:root {
    --bg-button: rgb(25, 76, 143);
    --border-button: solid 1px #888;
}

.button {
    font-size: small;
    background-color: var(--bg-button) ;
    border-radius: 10px;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    grid-column: span 2;
    width: 150px;
    height: 30px;
    justify-self: left;
    color: blanchedalmond;
}

.button:hover{
    background-color: darkblue;
}

.button:active{
    background-color:rgb(4, 87, 196);;
}